.aboutpage {
    background-color: #fff;
    text-align: start;
    
}

.aboutcontent {
    max-width: 50em;
    margin: 9em auto;
    color: black;
    padding: 1.5em;
    border-radius: 1em;
    gap: 2rem;
    border: 1px solid rgb(0, 0, 0);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
}

.aboutcontent h2 {
    font-size: 2.25em;
    font-weight: 500;
}

.aboutcontent p {
    font-size: 1.25em;
    line-height: 1.35em;
    justify-content: center;
}

@media screen and (max-width: 800px) {
    .aboutcontent {  
        max-width: 50em;
        margin: 5em auto;
        font-size: 0.8em;
       
    }
  }
  
  @media screen and (max-width: 480px) {
    .aboutcontent {  
        max-width: 25em;
        margin: 1em auto;
        font-size: 0.8em;
       
    }
  }