.dropdown {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    right: 0.2em;
    top: 7.3em;
    background-color: #F5F5F5;
    border-radius: 2em;
    border: 0.15em solid #184B36;
    height: 25em;
    width: 21em;
    z-index: 50;
}

.dropdownButton {
    margin: 0.5em 0.4em;
    padding: 0em 0.5em;
    border-radius: 25px;
    /*padding: 0.5em 1em;*/
    text-align: left;
    font-family: 'Roboto', sans-serif;
    font-size: 1.55em;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 0.7em;
}

.dropdownButton:hover {
    background-color: #E0E0E0; /* Changes color on hover */
}

.dropdownDivider {
    height: 0.15em;
    margin-left: 3%;
    margin-right: 3%;
    background-color: #184B36;
}