

.menu {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F5F5F5; 
    border: 3px solid #184B36;
    border-radius: 0.5em;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    padding: 2em;
    width: 90%;
    max-width: 400px;
    z-index: 1001;
}

.menuHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.menuHeader h1 {
    font-size: 2em;
    color: #184B36;
    margin: 0;
}

.menuHeader button {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #000000;
    transition: color 0.3s ease;
    border-radius: 100%;
}

.menuHeader button:hover {
    background-color: #E0E0E0;
}

.menu hr {
    border: none;
    border-top: 2px solid #184B36;
    margin: 1em 0;
}

.menu form {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.menu label {
    font-size: 1em;
    color: #333;
}

.menu input, .menu select {
    padding: 0.5em;
    border: 1px solid #ccc;
    border-radius: 0.3em;
    font-size: 1em;
}

.menu input:focus, .menu select:focus {
    outline: none;
    border-color: #184B36;
    box-shadow: 0 0 5px rgba(0, 128, 0, 0.5);
}

#submitButton {
    background-color: #184B36;
    color: #fff;
    padding: 0.7em;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1em;
    transition: background-color 0.3s ease;
}

#submitButton:hover {
    background-color: #15422f;
}