.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1em 1.5em;
    background-color: #184B36;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .navbarLeft {
    display: flex;
    align-items: center;
    gap: 2em;
  }

  .navbarRight {
    display: flex;
    align-items: center;
    gap: 2em;
  }

  .navbarLink {
    font-size:2em;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 0.2em;
    
  }

  .navbar h1 {
    font-size: 2.3em;
    font-family: 'Roboto', sans-serif;
  }