.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.1em 1.5em;
    background-color: #184B36;
    font-family: 'Roboto', sans-serif;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }

  .navbarLeft {
    display: flex;
    align-items: center;
    gap: 2em;
  }

  .navbarRight {
    display: flex;
    align-items: center;
    gap: 2em;
  }

  .navbarLink {
    font-size:1.5em;
    color: #FFFFFF;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    gap: 0.2em;
  }

  .githubIcon {
    color: #ffffff; 
    font-size: 1em;
  }

  .profileButton {
    color: white;
    font-size: 1em;
  }

  .navbar h1 {
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
  }

  @media screen and (max-width: 800px) {
    .navbar {
      position: relative; /* Ensure no overlap issues */
    }

    .githubIcon {
      size:0.5em
    }

    .profileButton {
      font-size: 0.5em;
    }

    .navbarRight {
      gap: 1em; /* Adjust gap for smaller screens */
    }
  
    .navbarLink {
      font-size: 1em; /* Further reduce font size for extra-small screens */
    }
  
    .navbar h1 {
      font-size: 2em; /* Adjust heading for better fit */
    }
  }
  
  @media screen and (max-width: 480px) {
    .navbar {
      padding: 0.5em; /* Reduce padding for extra-small screens */
    }
  
    .navbarLink {
      font-size: 0.8em; /* Further reduce font size for extra-small screens */
      gap: 0.1em;
    }

    .navbarLeft {
      gap: 1em;
    }
  
    .navbar h1 {
      font-size: 2em; /* Adjust heading for better fit */
    }
  }