

.profileSettings {
    position: fixed; 
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    background-color: #F5F5F5;
    border: 3px solid #184B36; 
    border-radius: 0.5em; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    padding: 2em; 
    width: 90%; 
    max-width: 800px;
    z-index: 1001; 
}

.profileMenu {
    display:flex;
    flex-direction: row;
    gap: 5em;
    padding: 2em 0;
}

.menuHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em; 
}

.menuHeader h1 {
    font-size: 2em;
    color: #000000;
    margin: 0;
}

.menuHeader button {
    background: none;
    border: none;
    font-size: 1.5em;
    cursor: pointer;
    color: #000000; 
    transition: color 0.3s ease, background-color 0.3s ease;
    border-radius: 50%; 
    padding: 0.2em;
}

.menuHeader button:hover {
    background-color: #E0E0E0; 
}

.profilemenu hr {
    border: none;
    border-top: 2px solid #184B36; 
    margin: 1em 0;
}

.content {
    display: flex;
    flex-direction: row;
    gap: 2em; 
}

.buttonSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1em; 
    flex: 1; 
}

.editButton {
    width: 100%;
    padding: 0.5em 1em;
    background-color: #E0E0E0;
    border: none;
    border-radius: 25px;
    font-size: 1em;
}

.editButton:hover {
    background-color: #dbdbdb; 
}

#deleteButton {
    width: 100%;
    padding: 0.5em 1em;
    margin-top: 2em;    
    background-color: #E0E0E0; 
    color: red; 
    border-radius: 25px;
    cursor: pointer;
    font-size: 1em;
}

#deleteButton:hover {
    background-color: red; 
    color: #fff; 
}

.informationSection {
    display: flex;
    flex-direction: column;
    gap: 0.8em; 
    flex: 2;
}

.infoitem {
    display: flex;
    flex-direction: row;
    gap: 0.5em; 
    align-items: center;
}

.infoitem strong {
    width: 150px; 
    color: #333; 
}

.infoitem span {
    color: #555;
}